<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Hello, <%= user ? user.profile.name : "friend," %> If you would like to join our community and track what is inside your candy bag, sign in with Google.</h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
    <a href="/candies">Show candies</a>
    <% } %>
  <h2>If you're just visiting but would like to see what candies other people have collected, click <a href="/candies">here</a>.</h2>
</main>

<%- include('./partials/footer') %>
