<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Hello, <%= user ? user.profile.name : "friend," %> If you would like to join our neighborhood and track what is inside your candy bag, sign in with Google.</h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <h2>If you're just visiting  and would like to see what other people have in their bags click the <a href="/candies">Show candies</a> button!</h2>
</main>

<%- include('./partials/footer') %>
