<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<p>Inside<%= candy.owner.name %>'s bag...</p>
  <h1><%= candy.name %> </h1>
  <form action="/candies/<%= candy._id %>?_method=PUT" method="POST">
    Name: 
    <input type="text" name="name" autocomplete="off">
  </label>
  <button type="submit">Update Candy</button>
</form>
  <a href="/candies"><button>Go Back</button></a>

</section>

<%- include('../partials/footer') %>