<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<p>Inside <%= candy.owner.name %>'s bag:</p>
  <h1><%= candy.name %> </h1>
  <% if (candy.owner.equals(user?.profile._id)) { %>
  <a href="/candies/<%= candy._id %>/edit">Edit This Candy</a>
  <form action="/candies/<%= candy._id %>?_method=DELETE" method="POST">
    <button class="btn" type="submit">Delete This Candy</button>
  </form>
  <% } %>
  <a href="/candies"><button>Go Back</button></a>
  <h2> Candy Review</h2>
  <form 
    id="add-review-form"
    action="/candies/<%= candy._id %>/reviews"
    method="POST"
  >
    <label for="content-textarea">Review:</label>
    <textarea name="text" id="text-textarea"></textarea>
    <label for="rating-select">Rating:</label>
    <select name="rating" id="rating-select">
      <option value="1">EWW</option>
      <option value="2">BAD</option>
      <option value="3">MEH</option>
      <option value="4">GOOD</option>
      <option value="5" selected>TASTY</option>
    </select>
    <button type="submit">Add Review</button>
  </form>
	<% if (candy.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %> 
      <% candy.reviews.forEach(function(review) { %>
        <% total += review.rating %>
        <tr>
          <td><%= review.createdAt.toLocaleDateString() %></td>
          <td><%= review.text %></td>
          <td><%= review.rating %></td>
        </tr>
      <% }) %>
      <tr>
        <td colspan="2"></td>
        <td>
          <strong><%= (total / candy.reviews.length).toFixed(1) %></strong>
        </td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h3>No Reviews Yet</h3>
<% } %>
</section>

<%- include('../partials/footer') %>